@page
@model Old_Glory.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Description)
            </th>
            <form asp-controller="Orders" asp-action="Index">
    <p>
        Orders: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
